.wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 600px;
}

.title {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

.training_name {
    width: 400px;
    height: 80px;
    box-sizing: border-box;
    display: block;
    grid-column-start: 2;
    grid-column-end: 2;
    resize: none;
}

.participants {
    width: 400px;
    height: 280px;
    box-sizing: border-box;
    display: block;
    grid-column-start: 2;
    grid-column-end: 2;
    resize: vertical;
}

.header {
    justify-self: end;
    grid-column-start: 1;
    grid-column-end: 1;
}

.header-centered {
    justify-self: end;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    width: 400px;
    box-sizing: border-box;
    display: block;
    grid-column-start: 2;
    grid-column-end: 2;
}

.sign_wrapper {
    width: 400px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    grid-column-start: 2;
    grid-column-end: 2;
}

.sign_label {
    display: inline-block;
    max-width: 120px;
}

.sign_input {
    width: 0;
}

.generate_button {
    width: 100px;
    justify-self: center;
    height: 22px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkbox {
    justify-self: left;
    align-self: baseline;
    margin: 0;
}

.training-type-option {
    margin: 5px 0;
}

.training-type-select {
    display: inline-block;
    box-sizing: border-box;
    width: 295px;
    transition: width 0.5s ease-in-out;
}

.training-type-input {
    display: inline-block;
    box-sizing: border-box;
    width: 295px;
    transition: width 0.5s ease-in-out;
}

.training-type-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.training-type-input:placeholder-shown {
    width: 95px;
}

.training-type-input:not(:placeholder-shown) + .training-type-select {
    width: 95px;
    background-color: #ddd;
    color: #aaa;
}
