<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PDF Generator for Business Speech</title>
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <form action="/generate" method="post" enctype="multipart/form-data">
            <div class="wrapper">
                <h1 class="title">PDF generator</h1>

                <div class="header"> Template </div>
                <select class="input" name="template">
                    <option value="Business Speech">Business Speech</option>
                    <option value="TheSales">TheSales</option>
                    <option value="SCT">The School of Critical Thinking</option>
                </select>

                <div class="header"> Training name </div>
                <textarea name="training_name" required class="training_name" placeholder="Training"></textarea>

                <div class="header"> Trainer name(s) </div>
                <textarea class="input trainers" name="trainer_names" required="required" placeholder="Trainer(s)"></textarea>

                <div class="header"> Signature(s) </div>
                <ol class="sign_wrapper">
                    <li>
                        <label class="sign_label">
                            <input type="file" class="sign_input" name="sign1" accept=".png"/>
                        </label>
                    </li>
                    <li>
                        <label class="sign_label">
                            <input type="file" class="sign_input" name="sign2" accept=".png"/>
                        </label>
                    </li>
                    <li>
                        <label class="sign_label">
                            <input type="file" class="sign_input" name="sign3" accept=".png"/>
                        </label>
                    </li>
                </ol>

                <div class="header"> Date </div>
                <input type="text" class="input" name="training_date" required="required" placeholder="Date"/>

                <div class="header"> Place </div>
                <input type="text" class="input" name="training_place" required="required" placeholder="Place"/>

                <div class="header-centered"> Training type </div>
                <div class="input">
                    <div class="training-type-wrapper">
                        <input class="training-type-input" name="training_type_string" placeholder="Or custom..."/>
                        <select class="training-type-select" name="training_type">
                            <option value="training" selected="selected">прошёл(-ла) тренинг</option>
                            <option value="masterclass">прошёл(-ла) мастер-класс</option>
                        </select>
                    </div>
                </div>


                <div class="header"> Quotes offset </div>
                <select class="input" name="quotes_offset">
                    <option value="0" selected="selected">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                    <option value="110">110</option>
                    <option value="120">120</option>
                </select>

                <div class="header"> Participants (one per line) </div>
                <textarea name="participants" required class="participants" placeholder="Surname Name"></textarea>

                <div class="header"> First certificate number </div>
                <input type="number" class="input" name="number" placeholder="12345"/>

                <div class="header"> Make separate files </div>
                <input type="checkbox" name="separate_files" class="checkbox">
                <button type="submit" class="generate_button">Generate</button>
            </div>
        </form>
    </body>
</html>
