<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PDF Generator for Business Speech</title>
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <form action="/generate" method="post">
            <div class="wrapper">
                <h1 class="title">PDF generator</h1>

                <div class="header"> Template </div>
                <select name="template">
                    <option value="default" selected="selected">Business Speech (no background)</option>
                    <option value="TheSales">TheSales</option>
                </select>

                <div class="header"> Training name </div>
                <textarea name="training_name" required class="training_name" placeholder="Training"></textarea>

                <div class="header"> Trainer name(s) </div>
                <textarea type="text" class="input" name="trainer_names" required="required" placeholder="Trainer"></textarea>

                <div class="header"> Date </div>
                <input type="text" class="input" name="training_date" required="required" placeholder="Date"/>

                <div class="header"> Place </div>
                <input type="text" class="input" name="training_place" required="required" placeholder="Place"/>

                <div class="header"> Training or MClass </div>
                <select class="input" name="training_type">
                    <option value="training" selected="selected">прошёл(-ла) тренинг</option>
                    <option value="masterclass">прошёл(-ла) мастер-класс</option>
                </select>

                <div class="header"> Quotes offset </div>
                <select class="input" name="quotes_offset">
                    <option value="0" selected="selected">0</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>

                <div class="header"> Participants (one per line) </div>
                <textarea name="participants" required class="participants" placeholder="Surname Name"></textarea>

                <button type="submit" class="generate_button">Generate</button>
            </div>
        </form>
    </body>
</html>
